	<!-- header
   ================================================== -->
   <header>
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="{% url 'home' %}">Menu</a>
		      </div>

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li><a href="{% url 'home' %}" title="">Home</a></li>
						<li><a href="{% url 'resume' %}" title="">Resume</a></li>
						<li><a href="{% url 'portfolio'%}" title="">Portfolio</a></li>
						<li><a href="{% url 'contact'%}" title="">Contact</a></li>
                        <li><a href="{% url 'posts' %}" title="">Posts</a></li>
					</ul>
				</nav>
   		</div> <!-- /top-bar -->

   	</div> <!-- /row -->
   </header> <!-- /header -->