{% extends 'base.html' %} {% block title %}{{ block.super }} | Say Hello :) {% endblock %} {% block content %}

<section id="contact">
    <div class="row contact-info">

        <div class="col-twelve tab-full" id='colorcontact'>

            <h6>
                <i class="fa fa-facebook-square"></i> Facebook
                <a href="https://facebook.com/K4rimi">fb.com/k4rimi</a>
            </h6>
            <h6>
                <i class="fa fa-code"></i> Dev Heroes Club
                <a href="https://devheroes.club/u/nim4/">Nim4</a>
            </h6>
            <h6>
                <i class="fa fa-instagram"></i> Instagram
                <a href="https://www.instagram.com/nim4/">@Nim4</a>
            </h6>
            <h6>
                <i class="fa fa-twitter-square"></i> Twitter
                <a href="https://twitter.com/nim4karimi/">@Nim4karimi</a>
            </h6>
            <h6>
                <i class="fa fa-linkedin-square"></i> Linkedin
                <a href="https://www.linkedin.com/in/nim4karimi/">in/Nim4karimi</a>
            </h6>
            <h6>
                <i class="fa fa-github-square"></i> Github ->
                <a href="https://github.com/nim4karimi/">Nim4karimi</a>
            </h6>
            <h6>
                <i class="fa fa-skype"></i> Skype ID ->
                <a href="#">Nima</a>
            </h6>
            <h6>
                <i class="fa fa-phone-square"></i> Whatsapp ->
                <a href="#">+989141436088</a>
            </h6>
            <h6>
                <i class="fa fa-phone-square"></i> Telegram ->
                <a href="#">+989141436088</a>
            </h6>
            <h6>
                <i class="fa fa-mail-reply"></i> Email :</h6>
            <a href="#">Nima.karimi@live.com</a>
            <br>
            <a href="#">Nim4.karimi@gmail.com</a>

        </div>
        <br>
        <br>
        <br>



</section>
<!-- /contact -->
<br>
<br> 

{% endblock %}