{%  extends 'base.html' %}
{% block title %}{{ block.super }} | Resume {% endblock %}
{% block content %}
    <section id="contact">
        <div class="row contact-info">

            <div class="col-four tab-full">

                <div class="icon">
                    <i class="icon-pin"></i>
                </div>

                <h5>Where to find me</h5>
                <p>Iran-Urmia :<br>
            Daneshkade St, Mehr building<br>
          basement NO 43</p>
            </div>

            <div class="col-four tab-full collapse">

                <div class="icon">
                    <i class="icon-mail"></i>
                </div>

                <h5>Email Me At</h5>
                <p>nima.karimi@live.com<br>
                  nim4.karimi@gmail.com</p>
            </div>

            <div class="col-four tab-full">

                <div class="icon">
                    <i class="icon-phone"></i>
                </div>

                <h5>Call Me At</h5>
                <p>Office : (+98) 44 33485934<br>
              Mobile: (+98) 914 143 6088<br>
              </p>
            </div>

        </div> <!-- /contact-info -->

	</section> <!-- /contact -->
{% endblock %}