{% extends 'base.html' %} {% load static %}
{% block title %}{{ block.super }} | Software Engineer {% endblock %}
{% block content %}
<!-- intro section -->
<section id="intro">
	<div class="intro-overlay"></div>
	<div class="intro-content">
		<div class="row">

			<div class="col-twelve">
				<h1>Nima Karimi</h1>

				<p class="intro-position">
					<span>computer software engineer</span>
				</p>
				<ul class="intro-social">
					<li>
						<a href="https://facebook.com/K4rimi">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/nim4/">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
					<!-- <li>
						<a href="https://github.com/nim4karimi/">
							<i class="fa fa-github"></i>
						</a>
					</li> -->
					<li>
						<a href="https://twitter.com/nim4karimi/">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/nim4karimi/">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
				</ul>
				<!-- /intro-social -->
				<!--<a id="ssss" class="button smoothscroll" href="#about" title="">More About Me</a>-->

			</div>

		</div>
	</div>
	<!-- /intro-content -->
</section>
<!-- /intro -->


<!-- about section -->

<!-- /process-->



<!-- services Section
   ================================================== -->
<section id="services">

	<div class="overlay"></div>

	<div class="row section-intro">
		<div class="col-twelve">

			<h5>Services</h5>
			<h1>What Can I Do For You?</h1>

		</div>
	</div>
	<!-- /section-intro -->

	<div class="row services-content">

		<div id="owl-slider" class="owl-carousel services-list">

			<div class="service">

				<span class="icon">
					<i class="icon-earth"></i>
				</span>

				<div class="service-content">
					<h3>Web development</h3>
				</div>

			</div>
			<!-- /service -->

			<div class="service">

				<span class="icon">
					<i class="icon-window"></i>
				</span>

				<div class="service-content">

					<h3>App Development</h3>


				</div>

			</div>
			<!-- /service -->
			<div class="service">
				<span class="icon">
					<i class="icon-paint-brush"></i>
				</span>
				<div class="service-content">
					<h3>Branding</h3>
				</div>

			</div>
			<!-- /service -->

			<div class="service">

				<span class="icon">
					<i class="icon-toggles"></i>
				</span>

				<div class="service-content">

					<h3>UI/UX Design</h3>

				</div>

			</div>
			<!-- /service -->

			<div class="service">

				<span class="icon">
					<i class="icon-image"></i>
				</span>

				<div class="service-content">

					<h3>Graphics Design</h3>


				</div>

			</div>
			<!-- /service -->

			<div class="service">

				<span class="icon">
					<i class="icon-chat"></i>
				</span>

				<div class="service-content">

					<h3>Consultancy</h3>



				</div>

			</div>
			<!-- /service -->

		</div>
		<!-- /services-list -->

	</div>
	<!-- /services-content -->

</section>
<!-- /services -->

	{% endblock %}