{%  extends 'base.html' %}
{% block title %}{{ block.super }} | Resume {% endblock %}
{% block content %}

{% include 'include/_skills.html' %}


{% include 'include/_states.html' %}



   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">
            <br>
            <br>
            <br>
   			<h1>More of my credentials.</h1>

   		</div>
   	</div> <!-- /section-intro-->




   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->
        {% for resume in content %}
   		<div class="col-twelve">

   			<div class="timeline-wrap">


   				<div class="timeline-block">

{#	   				<div class="timeline-img">#}
{#	   					<img src="{{ resume.pic.url }}" alt="{{ resume.title }}">#}
{#	   				</div>#}

	   				<div class="timeline-header">
                        <img id='resume-img' src="{{ resume.pic.url }}" alt="{{ resume.title }}">
	   					<h3><a href="{{ resume.url }}">{{ resume.title }}</a></h3>

	   					<p>{{ resume.start|date:'M / Y' }} - {{ resume.end|date:'M / Y' }} <br> Location : {{ resume.location }}</p>

	   				</div>

	   				<div class="timeline-content">
	   					<h4>{{ resume.position }}</h4>
	   					{{ resume.body|safe }}
	   				</div>

	   			</div> <!-- /timeline-block -->


   		</div> <!-- /col-twelve -->

   	</div> <!-- /resume-timeline -->
    {% endfor %}
<br>
    <hr>
    <!--<h2 id="h2resume">Projects </h2>-->
    <!--<br>-->
    <!--{% for project in projects %}-->
    <!--<div class="col-six">-->
        <!--<h3>{{ project.title }}</h3>-->
        <!--<p> {{ project.body|safe|truncatewords:80 }}</p>-->
        <!--<img src="{{ project.pic.url }}" alt="{{ project.title }}">-->
        <!--<br>-->
        <!--<a class="button stroke" href="{{ project.link }}">Link</a>-->
    <!--</div>-->
    <!--{% endfor %}-->



<br>
        <hr>
    <br>
    <h2 id="h2resume">Certifications</h2>
    <br>
    {% for cert in certs %}
        <div class="col-twelve">
        <h5>{{ cert.title }}</h5>
            <div class="col-eight">
                <p>{{ cert.body|safe }}</p>
            </div>
            <div class="col-four">
                <img src="{{ cert.pic.url }}" alt="{{ cert.title }}">
            </div>
        </div>
        <br>
    {% endfor %}



    </div>
	</section> <!-- /features -->



{% endblock %}