{%  extends 'base.html' %}
{% block title %}{{ block.super }} | Resume {% endblock %}
{% block content %}


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resume</h5>
   			<h1>More of my credentials.</h1>m

   		</div>
   	</div> <!-- /section-intro-->

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Chief executive officer</h3>
	   					<p>January 2018 - Present <br> Location : Iran - Urmia</p>

	   				</div>

	   				<div class="timeline-content">
	   					<h4><a href="http://herotek.ir"> Herotek®</a> </h4>
	   					<p>Multifaceted Security · Accelerated Time-to-Value · Full Cycle Services · Strong Tech Competence
Features: Large-Scale Distributed Systems, Microservices Architectures, Cloud-Native Applications </p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Software engineering</h3>
	   					<p>Sep 2017 - Des 2017<br>Location : Iran - Karaj</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4><a href="http://abitrading.ir">A.B.I <small> Trading Co</small></a></h4>
	   					<p>A.B.I trading is one of the largest industrial machinery trading companies in the Middle East dealing with all kinds of Metal letter working machines. The company has a very strong client base in DOMESTIC and GCC countries and has been a regular supplier of Industrial Machinery to countries like iraq, turkey , dubia , Kuwait, ...</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Executive Director</h3>
	   					<p>Oct 2016 - July 2017<br>
              Location : Iran - Urmia</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4><a href="http://miranjewelry.ir"> Miran <small>Gold & Jewelry</small></a></h4>
	   					<p>automasion customer servises , web order application, branding . Fine jewelry and gifts from Jared, online store for diamond jewelry, gold jewelry, color gemstone jewelry, rings, earrings, necklaces, pendants, bracelets, chains and watches.</p>
	   				</div>

	   			</div>
          <div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Executive Director</h3>
	   					<p>April 2016 - Sep 2016<br>
              Location : Iran - Urmia</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4><a href="http://maghsouditrading.com"> Green Crown <small>Trading co.</small></a></h4>
	   					<p>DRIED FRUITS trading company , automasion products line, sorting , packagin . automasion human resources analyzer</p>
	   				</div>

	   			</div>
          <div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Industrial design / SEO </h3>
	   					<p>Aug 2015 - March 2016<br>
              Location : Iran - Tehran</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4><a href="http://فلزیاب.com"> Gama electronics <small>Asia</small></a></h4>
	   					<p>Industrial design , devices user interfaces , debug whole Systems</p>
	   				</div>

	   			</div>
          <div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Graphic Designer </h3>
	   					<p>March 2012 - Nov 2013<br>
              Location : Iraq - Suleimane </p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4><a href="https://www.facebook.com/Graphica-Blue-361994320544654"> Graphica Blue <small>Printing co.</small></a></h4>
	   					<p>Graphic designer in photoshop , illustrator , indesign and adobe softwares</p>
	   				</div>

	   			</div> <!-- /timeline-block -->
          <div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Graphic Designer </h3>
	   					<p>Aug 2011 - Des 2011<br>
              Location : Iraq - Arbil </p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4><a href="https://www.facebook.com/profile.php?id=100006164920684"> Aro reklam <small>company.</small></a></h4>
	   					<p>Graphic designer in photoshop , illustrator , indesign and adobe softwares</p>
	   				</div>

	   			</div>
          <div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Larg format printing technician </h3>
	   					<p>Nov 2010 - June 2011<br>
              Location : Iran - Urmia </p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4><a href="http://www.leon-show.ir"> Urom Chap abi graphic</a></h4>
	   					<p>operator , Repair and Maintenance</p>
	   				</div>

	   			</div>

   			</div> <!-- /timeline-wrap -->

   		</div> <!-- /col-twelve -->

   	</div> <!-- /resume-timeline -->



	</section> <!-- /features -->



{% endblock %}