{%  extends 'base.html' %}
{% block title %}{{ block.super }} | Resume {% endblock %}
{% block content %}


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">
            <br>
            <br>
            <br>
   			<h1>More of my credentials.</h1>

   		</div>
   	</div> <!-- /section-intro-->

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->
        {% for resume in content %}
   		<div class="col-twelve">

   			<div class="timeline-wrap">


   				<div class="timeline-block">

{#	   				<div class="timeline-img">#}
{#	   					<img src="{{ resume.pic.url }}" alt="{{ resume.title }}">#}
{#	   				</div>#}

	   				<div class="timeline-header">
                        <img id='resume-img' src="{{ resume.pic.url }}" alt="{{ resume.title }}">
	   					<h3><a href="{{ resume.url }}">{{ resume.title }}</a></h3>

	   					<p>{{ resume.start|date:'M / Y' }} - {{ resume.end|date:'M / Y' }} <br> Location : {{ resume.location }}</p>

	   				</div>

	   				<div class="timeline-content">
	   					<h4>{{ resume.position }}</h4>
	   					{{ resume.body|safe }}
	   				</div>

	   			</div> <!-- /timeline-block -->


   		</div> <!-- /col-twelve -->

   	</div> <!-- /resume-timeline -->
    {% endfor %}
    <!-- temp hard coded -->
        <div class="col-twelve" style="color: gray">
            <p>Certificate of completion of the course : Irpycon - 48 h </p><br>
            <p>Certificate of completion of the course : Internet - 12 h</p><br>
            <p>Certificate of completion of the course : Ms Powerpoint - 20 h</p><br>
            <p>Certificate of completion of the course : Ms Access - 26 h</p><br>
            <p>Certificate of completion of the course : Ms Exel - 26 h</p><br>
            <p>Certificate of completion of the course : Ms Windows - 8 h</p><br>
            <p>Certificate of completion of the course : Ms Word - 26 h</p><br>
            <p>Certificate of completion of the course : IT concepts - 12 h</p><br>
        </div>
	</section> <!-- /features -->



{% endblock %}