{% extends 'base.html' %}
{% block title %}{{ block.super }} | {{ object.title }} {% endblock %}
{% block content %}
    <section id="posts">
        <div class="row">
            <div class="col-nine">
                <h1> {{ object.title }} </h1>
                <p>{{ object.pub }}</p>
              <hr>
                <img src="{{ object.pic.url }}">
                <p>{{ object.body|safe }}</p>
            </div>
            <div class="col-three">
                <a class="button" href="{% url 'posts' %}">Back</a>
            <hr>
                <h3>Tags :</h3>
                {% for tag in tags %}
                <a class="chips" href="{% url 'tagged' tag.slug %}"  >{{ tag.name }}</a>
                {% empty %}
                No Tags :)
                {% endfor %}
                <hr>
            </div>

        </div>

    </section>

{% endblock %}
