{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="posts">
    <div class="row">

   		<div class="col-nine">
        {% for p in post_list %}
   			<h3><a href="{{ p.slug }}"> {{ p.title }}</a></h3>
            <a href="{{ p.slug }}"><img src="{{ p.pic.url }}"></a>
            <h5>{{ p.pub|date:"M d, Y" }}</h5>
            <hr>
   		 {% endfor %}
        </div>
        <div class="col-three">
            <h3>Tags :</h3>
            {% for tag in tags %}
            <a class="chips"  href="{% url 'tagged' tag.slug %}"  >{{ tag.name }}</a>
            {% empty %}
            No Tags :)
            {% endfor %}
            <hr>
        </div>
   	</div> <!-- /section-intro -->
</section>
{% endblock %}