{% extends 'base.html' %}
{% block title %}{{ block.super }} | {{ object.title }} {% endblock %}
{% block content %}
    <section id="posts">
        <div class="row">
            <div class="col-nine">
                <div class="cardz">
                    <h1> {{ object.title }} </h1>
                    <p>{{ object.pub }}</p>
              <hr>
                    <img src="{{ object.pic.url }}">
                    <p>{{ object.body|safe }}</p>
                </div>

            </div>
            <div class="col-three">

                <div class="cardz">
                <h3>Cloud Tags :</h3>
                {% for tag in tags %}
                <a class="chips"  href="{% url 'tagged' tag.slug %}"  >{{ tag.name }}</a>
                {% empty %}
                No Tags :)
                {% endfor %}
                </div>
                <a class="button stroke" href="{% url 'posts' %}">Back</a>

            </div>

        </div>

    </section>

{% endblock %}
