.menu-toggle span {
  background-color: #00adef;
}

.section-intro h5{
  color: #00adef;
}
#go-top a{
  background-color: #00adef;
}
#resume .resume-header h2{
  color: #00adef;
}
#services .section-intro h5{
  color: #00adef;
}
#ssss{
  background-color: #00adef;
}

#about{
  padding-bottom: 10px;
}

#resume{
  padding-top: 10px;
  padding-bottom: 10px;
}

#stats{
  background: #00adef;
}

#posts {
  background-color: white;
  padding-top: 10% !important;
}